<div>
  <form class="text-center">
      <h1 class="font-bold tracking-wider text-3xl mb-8 w-full text-gray-600">
         Registration
      </h1>
      <div class="py-2 text-left">
          <input type="text" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="First name" />
      </div>
      <div class="py-2 text-left">
        <input type="text" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Last name" />
    </div>
    <div class="py-2 text-left">
      <input type="email" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Email" />
  </div>
  <div class="py-2 text-left">
    <input type="phone" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Phone number" />
</div>
      <div class="py-2 text-left">
          <input type="password" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Password" />
      </div>
      <div class="py-2 text-left">
        <input type="password" class="bg-gray-200 border-2 border-gray-100 focus:outline-none bg-gray-100 block w-full py-2 px-4 rounded-lg focus:border-gray-700 " placeholder="Confirm password" />
    </div>
      <div class="py-2">
          <button type="submit" class="border-2 border-gray-100 focus:outline-none bg-purple-600 text-white font-bold tracking-wider block w-full p-2 rounded-lg focus:border-gray-700 hover:bg-purple-700">
             Register
          </button>
      </div>
  </form>
  <div class="text-center">
      <a href="#" class="hover:underline">Forgot password?</a>
  </div>
</div>
